*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
}