.dogovor-block {
  width: 1160px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px #747b74;
  margin: 50px auto;
  padding: 60px;
  font-size: 15px;
  h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    font-size: 28px;
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
  table {
    border-collapse: collapse;
  }
  .main-table {
    border: 1px solid #000;
  }
  .main-table td, .products-table td {
    border: 1px solid;
  }
  &__content h2 {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    font-weight: bold;
  }
  &__option-name {
    width: 10%;
  }
  &__option-text {
    width: 60%;
    font-weight: bold;
  }
  .total-table {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 0;
  }
  .products-table {
    margin-bottom: 20px;
  }
  .products-table__heading td {
    font-weight: bold;
    text-align: center;
  }
  .products-table__content .td-text {
    width: 35%;
    font-size: 14px;
  }
  &__total-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }
  &__total-block p {
    margin: 0;
  }
  &__total-block .sum {
    font-weight: bold;
  }
  &__total-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__total-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__total-position {
    width: 20%;
    font-weight: bold;
    margin-right: 15px;
  }
  &__total-name {
    width: 60%;
    text-align: right;
    border-bottom: 1px solid;
  }
  .total-table td {
    font-weight: bold;
  }
  .total-table .td-right {
    text-align: right;
  }
}